body{
    background-image: url('../../public/img/paint.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.container{
    margin-left: 1px;
    margin-bottom: 195px;
}

.logo{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.alert{
    text-align: center;
}

.background-clip{
    position: absolute;
    right: -120px;
    bottom: -90px;
    width: 63.5%;
    height: auto;
    top: 85px;
    z-index: -1;
}

.list{
    border-right: 1px solid  rgba(176, 195, 183, 0.304);
    list-style: none;
    padding-top: 85px;
    padding-left: 18px;
    width: 28vh;
}

.li_con{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    animation: slide-left 2s linear forwards; 
}

.container1{
    padding-top: 45px;
    padding-left: 60px;
    font-size: xxx-large;
    font-weight: 600;
    line-height: 40px;
    color: white;
}

.parra{
    animation: slide-left 1s linear forwards; 
}

.parra_g{
    animation: slide-left 1.5s linear forwards; 
}

@keyframes slide-left {
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}

.li_con:hover{
    color: rgb(50, 50, 84);

}